<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.fblogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".helper.HostelContentProvider"
            android:authorities="com.example.abhishek.fblogin.helper.HostelContentProvider" />
        <provider
            android:name=".helper.LocationContentProvider"
            android:authorities="com.example.abhishek.fblogin.helper.LocationContentProvider" />

        <activity
            android:name=".Activity.SearchableActivity"
            android:label="@string/title_activity_searchable"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ExplorePGActivity"
            android:label="@string/title_activity_explore_pg"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activity.SearchableActivity" />
        </activity>
        <activity
            android:name=".Activity.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.HostelActivity" />
        <activity
            android:name=".Activity.ReferAndEarnActivity"
            android:label="@string/title_activity_refer_and_earn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PostRequirements"
            android:label="@string/title_activity_post_requirements"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchablelocation" />
        </activity>
    </application>

</manifest>